.main-nav-bar{
    background-color: rgba(#eff3f8, 0.6);
}
.dark{
    .main-nav-bar{
        background-color: rgba(#1a1a1a,0.6);
    }
}

.textShine {
    background: linear-gradient(to right,
            #2563eb 20%,
            #00affa 30%,
            #0190cd 70%,
            #2563eb 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 1.5s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}